@import "tailwindcss";

/* Custom Colors */
@theme{
  --color-themeColor: #0C55AA;
  --color-lightBg: #f4f7f9;
  --color-themeWhite: #fff;
  --color-lightYellow: #FFD43A;
  --color-borderColor: #eaebec;
  --color-skyColor: #0989ff;
  --color-tightText: #55585b;
}

@layer components{
  .headerTopMenu{
    @apply flex items-center gap-x-1 border-r-[1px] border-r-gray-400 px-4
  }
}